@font-face {
    font-family: 'Undretale font'; /* Choose a unique name for your font */
    src: url('PixelOperator-Bold.ttf') format('truetype');
}

a.custom-link{
    font-family:'Undretale font';
}

a.custom-link {
    color: white; /* default color */
    text-decoration: none; /* optional: removes underline */
}
  
a.custom-link:hover,
a.custom-link:focus {
    color: yellow; /* hover/focus color */
    text-decoration: underline; /* optional: show underline on hover */
}
  