/* combination of diana's styles.css
and lizzie's lizzie-style.css*/

@font-face /*font for buttons of navbar */{
    font-family:Mercy;
    src:url("fonts/mercy/MERCY.eot") format("eot"),url("fonts/mercy/MERCY.woff") format("woff"),url("fonts/mercy/MERCY.otf") format("opentype");
  }


@font-face {
  font-family: "Pixel Operator";
  src:
    local("Pixel Operator"), local("pixel-operator-font"), local("pixel_operator"),
    url(/pixel-operator-font/PixelOperator-Bold.ttf) format("opentype");
}


* {
    font-family: "Pixel Operator";
}

body {
  background-color: black;
  color: white;
  margin: 20px 50px; /*50px or 30px?*/
  font-family: "Pixel Operator", sans-serif;
  cursor: url(img/cursor-heart.png), default;
}

.flex-nav-items { /*for unordered list of items in navbar*/
  display: inline-flex;
  list-style-type: none;
  align-items: right;
  font-size: 20px;
}