/* ----------------- Class CSS ----------------- */

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:rgb(82, 81, 81)
}

.authors{
    background-color: #795F80;
}

.body{
    background-color: #CBC3E3;
}

.footer{
    background-color: #392A48;
    width: 100%;
    position: static;
    clear: both;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.nb-background-color{   /* navbar background color */
    background-color: #392A48;
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: #B6B5D8;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: #795F80;
    padding: 1px;
}

.showcase{
    background-color: #795F80; /*#0096c7*/
}



/*---------------------Image CSS------------------------*/
#image-logo{
    width: 5%;
    height: auto;
    max-width: 10%;
}

.img-main{
    max-width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

.img-diagram{
    width: 100%;
    height: auto;
}

.img-typing{
    width: 100%;
    height: auto;
}

.img-data{
    width: 100%;
    height: auto;
}

.me{
    width: 60%;
    height: auto;
}

.queenan{
    width: 60%;
    height: auto;
}


.table-img {
    max-height: 110px;
    object-fit: contain;
  }

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}


/*--Table--*/
.table{
    background-color: #8d7dbd;
}

/*---text---*/

.procedure-head{
    font-family: "Snell Roundhand",cursive; 
    color: rgb(255, 255, 255);
}


.display-4{
    font-size: 70px;
    font-family: "Times New Roman";
}

.thanks{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Time New Roman";

}

.about-team{
    font-size: 100px;
    font-family: "Snell Roundhand",cursive;
    color: rgb(255, 255, 255);
}

.ul-list{
    font-size: 25px;
    font-family: "Times New Roman";
    color: rgb(45, 0, 80);
}

.index-head{
    font-size: 40px;
    font-family: "Times New Roman";
    color: rgb(45, 0, 80);
    font-weight: 700;
}


.name{
    font-size: 40px;
    font-family: "Snell Roundhand",cursive;
    color: rgb(255, 255, 255); 
}

.footer{
    font-family: "Times New Roman";
}

/* Table header style */
.table thead th {
    background-color: #29104c;
    color: #fff;
    border-color: #d1c4e9;
  }