@font-face {
  font-family: "Pixel Operator";
  src:
    local("Pixel Operator"), local("pixel-operator-font"), local("pixel_operator"),
    url(pixel-operator-font/PixelOperator-Bold.ttf) format("opentype");
}

@font-face {
	font-family:Mercy;
	src:url("fonts/mercy/MERCY.eot?") format("eot"),url("fonts/mercy/MERCY.woff") format("woff"),url("fonts/mercy/MERCY.otf") format("opentype");
}

*{
    font-family: "Pixel Operator";
}

body {
    background-color: black;
    color: white;
    margin: 20px 30px;
    font-family: "Pixel Operator", sans-serif;
}

.flex-nav-items { /*for unordered list of items in navbar*/
  display: inline-flex;
  list-style-type: none;
  align-items: right;
  font-size: 20px;
}

.nav-list-item { /*for each item in the navbar*/
  margin: 0px 10px;
  padding: 10px;
  text-align: center;
  align-content: center;
  border: 2px solid orange;
  border-radius: 3px;
  
}

.nav-list-item a {
  color: orange;
  font-family: Mercy;
  font-size: 20px;
}

.nav-list-item:hover { /*for each item in the navbar when hovered over*/
  border: 2px solid #ffff00;
}

.nav-list-item a :hover {
  color: #ffff00;
}

#navmenu { /*entire collapsible navbar*/
  justify-content: right;

}

@media only screen and (max-width: 5000px) {
  .flex-nav-items { /*for unordered list of items in navbar*/
    display: flex;
    list-style-type: none;
    align-items: left;
    font-size: 20px;
}


.footer
{
    background-color: rgb(0, 0, 0);
    width: 100%
    color: white;
    border: 4px solid white;
    font-family: "Pixel Operator";
}

.body {
  cursor: url(img/cursor-heart.png) 4 2, default;
}

a {
  cursor: url(img/cursor-selecting.png) 2 2, pointer;
}

.game-window {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: yellow;
    font-family:"Pixel Operator";
}