*{
    font-family: /*will be undertale font*/
}

.footer
{
    background-color: rgb(0, 0, 0);
    width: 100%
    color: white;
}

.body {
      cursor: url(img/cursor-heart.png), default;
}

a {
    cursor: url(img/cursor-selecting.png), pointer;
}

.game-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
}